@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    ATeam Clinic brings to you a comprehensive range of primary healthcare services.<br />
    <br />
    Our professional Doctor John provides care for patients of all ages. Medical care includes treatment of acute and chronic conditions for adults and children, vaccinations, travel health and health screening.<br />
    <br />
    ATeam Clinic is approved to serve Singaporeans under various healthcare and government schemes including the Community Health Assist Scheme (CHAS), the Pioneer Generation scheme, Baby Bonus scheme and the Flexi-Medisave scheme.<br />
    <br />
    With over 40 years of experience serving the medical needs of our patients, we are dedicated to being your trusted partner for health.<br />
</p>
